.app-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  left: 50%;
  top: 50%;
  position: absolute;
  justify-content: center;
  transform: translate(-50%, -50%);
}

.app-container label {
  display: block;
}

.app-container input[type='checkbox'] {
  margin-right: 5px;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.checkboxContainer > input {
  display: flex;
  margin-left: 10px;
  align-items: center;
}

.checkboxLabel {
  display: flex;
  align-items: center;
}

.accordion-container {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-width: 600px;
}

.toggleInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion-container h2 {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-container .toggleButton {
  position: absolute;
  right: 0;
}

.accordion-container p {
  margin-top: 10px;
  padding: 0;
}
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.accordion-content.open {
  max-height: 200px;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
